h1 {
    background-color: darkturquoise;
    font-family: sans-serif;
  }
  p {
    font-weight: 600;
    font-size: 3em;
  }
  .colorone {
    background-color: yellow;
  }
  .colortwo {
    background-color: red;
  }
  .colorthree {
    background-color: maroon;
  }
  li {
    text-decoration: mediumaquamarine;
    text-align: end;
    line-height: 50px;
    font-style: inherit;
    color: rgb(92, 80, 204);
  }
  body{
    background-color: lawngreen;
  }