.super-mario {
    position: absolute;
    z-index: 1;
    top: 89px;
}

.bowser {
    position: absolute;
    z-index: 3;
    left: 400px;
    top: 380px;
}

.baloon {
    position: absolute;
    z-index: 4;
    top: 300px;
    left: 230px;
}

.word {
 position: absolute;
 z-index: 5;
 top: 330px;
 left: 250px;
}

.goomba {
    position: absolute;
    z-index: 2;
    top: 380px;
}